apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: worker-models-pvc
  namespace: solar-pv-llm-ai
  labels:
    app: celery-worker
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
